@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mohit's Library...</h1>
    <p>Books are the constant things in our life...</p>
    <img src="./images/libraryMain.jpg" alt="lib-image" class="img-fluid" style="width:100%;height:300px">
    <br/><br/>
    <a class="btn btn-primary p-2" asp-area="" asp-controller="Books" asp-action="ExploreBooks">Click here to Explore More -></a>
</div>
